
ion-chip {
    color: #2FB86E;
    border: red;
}

ion-chip ion-icon {
    color: #2FB86E;
}

ion-slides {
    height: 30vh;
}

.republic-card-content-top {
    height: 5vh; 
}

.republic-card-content-bottom {
    padding-bottom: 1vh;
}

.filters-bar {
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

*::-webkit-scrollbar{
   display: none; 
}
