<ion-toolbar >
  <ion-buttons slot="start" >
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title >
    <ion-searchbar type="text" color="light" placeholder="Search text" clearInput>
    </ion-searchbar>
  </ion-title>
  <ion-buttons slot="end" style="padding-right: 10px;">
    <ion-icon name="notifications-outline"></ion-icon>
  </ion-buttons>
  <ion-title></ion-title>
</ion-toolbar>

<ion-content >
  

  <div class="filters-bar" >
    <ion-chip (click)="highRating()">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Avaliações</ion-label>
    </ion-chip>
    <ion-chip (click)="lowerPrice()">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Preço</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>Quartos</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Banheiros</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Localidade</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Gênero</ion-label>
    </ion-chip>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">

       <ion-card *ngFor="let republic of republics">
         <ion-slides>
           <ion-slide style="height: max-content;">
             <img src="../../assets/imgs/house2.jpg" />
           </ion-slide>
           <ion-slide style="height: max-content;">
             <img src="../../assets/imgs/house2.jpg" />
           </ion-slide>
         </ion-slides>
         <ion-row class="republic-card-content-top">
           <ion-col size="4">
             <ion-icon name="bed-outline"></ion-icon>
             {{ republic.bedrooms }} Quartos
           </ion-col>
           <ion-col size="4">
             <ion-icon name="bed-outline"></ion-icon>
            {{ republic.bathrooms }} Banheiros
           </ion-col>
           <ion-col size="4">
              <ion-icon name="female-outline" *ngIf="republic.allowedTo == 'Feminino'"></ion-icon>
              <ion-icon name="male-outline" *ngIf="republic.allowedTo == 'Masculino'"></ion-icon>
              <ion-icon name="male-female-outline" *ngIf="republic.allowedTo == 'Ambos'"></ion-icon>
              {{ republic.allowedTo }}
           </ion-col>
         </ion-row>
         <ion-row class="republic-card-content-bottom">
           <ion-col size="4">
             <ion-icon name="bed-outline"></ion-icon>
             R${{ republic.value }},00
           </ion-col>
           <ion-col size="4">
             <ion-icon name="navigate-outline"></ion-icon>
            {{ republic.neighborhood }} - {{ republic.state }}
           </ion-col>
           <ion-col size="4">
             <ion-icon name="star-outline"></ion-icon>
            {{ republic.rating }}
           </ion-col>
         </ion-row>
       </ion-card>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
