@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

:root {
    --primary-color: #2FB86E;
}

*{
    margin: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

body{
    min-width: 920px;
}

h1 { font-size: 3em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1em; }

@media all and (orientation: portrait) {
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.2em; }
    h3 { font-size: 0.8em; }
    h4 { font-size: 0.2em; }
}

/* Header */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding-top: 5vh;
}

.navbar-header > *
{
    background-color: var(--primary-color);
    color: #ffffff;
    width: 8em;
    margin-top: 1em;
    margin-right: 2em;
    padding: 1em;
    border: 1.5px solid transparent;
    transition: border 0.18s ease-in-out;
    font-family: Montserrat;
    text-decoration: none;
    cursor:pointer;
    outline: none;
}

.navbar-header a:hover {
    border-bottom: 1.5px solid;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.header figure {
    height: 0;
}

.header img {
    margin-top: -20vh;
    padding-left: 1vw;
    height: 50vh;
    width: 100%;
}

/* Main Section */

.main-section {
    padding: 5vw 5vw 0 5vw;
    display: flex;
    height: 80vh;
    background: url(../img/background/Background-Landing.jpg) ;
    background-position:center;
    background-size: 110% 100%;
    color: white;
}

.main-section figure img {
    height: 50vh;
    width: 50vw;
}

.main-section h2 {
    color:white;
}

.main-section div:first-child{
    margin-top: 15vh;
}

/*

/* App Section */

.app-section {
    height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: var(--primary-color);
}

.app-section figure img{
    width: 30%;
}

.app-section div:last-child{
    padding-top: 12vh;
}

/* Houses Section */

.houses-section {
    height: 120vh;
    display: flex;
    align-items: center;
    padding-right: 4vw;
    background: url(../img/background/Background-Landing-preFooter.jpg);
    background-size: 110% 100%;
    color: white;
    text-align: center;
}

.houses-section img{
    width: 40vw;
    height: 50vh;
}

/* Download Section */

.download-section {
    padding: 5vw 5vw 0 5vw;
    display: flex;
    height: 100vh;
    background-color: var(--primary-color);
    background-repeat: round;
    background-size: 110% 100%;
    color: white;
}

.download-section button {
    margin-top: 1vh;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    height: 15vh;
    width: 100%;
    border-radius: 150px;
    background-color: white;
    color: var(--primary-color)
}

.download-section img {
    height: 100%;
    width: 100%;
}

.download-section div:last-child {
    padding-top: 20vh;
}

/* Mission Section */

.mission-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/background/Background-Landing.jpg);
    background-size: 110% 100%;
    color: white;
}

.mission-section img {
    width: 100%;
    height: 50vh;
}

.mission-section button {
    margin-top: 1vh;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    height: 15vh;
    width: 40em;
    border-radius: 150px;
    background-color: white;
    color: var(--primary-color)
}

.mission-section div:last-child {
    padding-top: 20vh;
}

/* Footer */

footer {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

footer h3:last-child{
    padding-left: 25%;
}

footer a {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.footer-icons {
    margin-left: 5vw;
    margin-top: 2vh;
}

.footer-icon {
    height: 5vh;
    width: 5vw;
}



.logo {
    height: 15vh;
    width: 100%;
}